<section class="contact">
  <h2 class="contact__title">Contact</h2>

  <address class="contact__container contact__address-container">
    <span class="contact__address__icon fa-solid fa-location-dot"></span>
    <span class="contact__container__text"> Address: </span>
    <a
      href="https://www.google.ro/maps/search/Sakura+Street,+no.+23,+Bucharest,+sector+3,+Romania/@44.4181666,26.1606044,12z"
      class="contact__container__link"
      target="_blank"
      >Sakura Street, no. 23, Bucharest, sector 3, Romania
    </a>
  </address>

  <div class="contact__container contact__phone-container">
    <span class="contact__phone__icon fa-solid fa-phone"></span>
    <span class="contact__container__text">Phone no: </span>
    <a class="contact__container__link" href="tel:+4073555432"
      >+4073 555 432
    </a>
  </div>

  <div class="contact__container contact__email-container">
    <span class="contact__email__icon fa-solid fa-envelope"></span>
    <span class="contact__container-text">Email: </span>
    <a class="contact__container__link" href="mailto:ebisu_store@gmail.com"
      >ebisu_store@gmail.com
    </a>
  </div>
</section>

<section class="copyright">
  <h2 class="copyright__title"></h2>

  <small class="copyright__container">
    <span class="copyright__container__text">Copyright &copy; Ebisu</span>
    <time class="copyright__container__time" datetime="2021-10-19"
      >19 October 2021</time
    >
  </small>

  <div class="copyright__watermark">
    Copyright &copy; <br />
    Minculescu Alexandru
  </div>
  <div class="copyright__banner">
    This is my university project for the Web Techniques class
  </div>
</section>

<div class="link-top">
  <a class="link-top__link" href="#top" title="Go top">
    <span class="link-top__emblem"></span>
  </a>
</div>
