<div class="header">
  <!-- MENU -->
  <div class="header__menu">
    <div tabindex="0" class="header__menu__btn--hamburger">
      <span class="header__menu__btn--hamburger__icon"></span>
    </div>

    <!-- NAV BAR -->
    <nav class="header__menu__nav">
      <!-- NAV-LIST -->
      <ul class="header__menu__nav__list">
        <!-- NAV-LIST ITEM -->
        <li class="list header__menu__nav__list__item">
          <div class="header__menu__nav__list__item__content">
            <a href="/" class="header__menu__nav__list__item__content__text"
              >Home</a
            >
          </div>

          <!-- SUBLIST OF NAV-LIST ITEMS -->
          <ul class="header__menu__nav__sublist">
            <li class="list header__menu__nav__sublist__item">
              <a
                href="#popular-products-section"
                class="header__menu__nav__sublist__item__content"
              >
                popular products
              </a>
            </li>

            <li class="list header__menu__nav__sublist__item">
              <a
                href="#promotions-section"
                class="header__menu__nav__sublist__item__content"
              >
                promotions
              </a>
            </li>

            <li class="list header__menu__nav__sublist__item">
              <a
                href="#categories-section"
                class="header__menu__nav__sublist__item__content"
              >
                categories
              </a>
            </li>

            <li class="list header__menu__nav__sublist__item">
              <a
                href="#books-showcase-section"
                class="header__menu__nav__sublist__item__content"
              >
                books & manga
              </a>
            </li>

            <li class="list header__menu__nav__sublist__item">
              <a
                href="#articles-section"
                class="header__menu__nav__sublist__item__content"
              >
                articles
              </a>
            </li>

            <li class="list header__menu__nav__sublist__item">
              <a
                href="#tasks-section"
                class="header__menu__nav__sublist__item__content"
              >
                tasks
              </a>
            </li>
          </ul>

          <!-- NAV-LIST ITEM -->
        </li>

        <li class="list header__menu__nav__list__item">
          <div class="header__menu__nav__list__item__content">
            <span class="header__menu__nav__list__item__content__text"
              >Categories</span
            >
            <img
              class="header__menu__nav__list__item__content__icon"
              src="/assets/images/icons/arrow-right.svg"
              alt="Arrow icon"
            />
          </div>

          <!-- SUBLIST OF NAV-LIST ITEM -->
          <ul class="header__menu__nav__sublist">
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Garments
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Footwear
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Masks
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Sweets & Tea
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Books & Manga
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Figures
              </a>
            </li>
            <li class="list header__menu__nav__sublist__item">
              <a href="/" class="header__menu__nav__sublist__item__content">
                Tapestries
              </a>
            </li>
          </ul>
        </li>

        <!-- NAV-LIST ITEM -->
        <li class="list header__menu__nav__list__item">
          <div class="header__menu__nav__list__item__content">
            <span class="header__menu__nav__list__item__content__text"
              >Popular</span
            >
          </div>
        </li>

        <!-- NAV-LIST ITEM -->
        <li class="list header__menu__nav__list__item">
          <div class="header__menu__nav__list__item__content">
            <span class="header__menu__nav__list__item__content__text"
              >Sale</span
            >
          </div>
        </li>

        <!-- NAV-LIST ITEM -->
        <li class="list header__menu__nav__list__item">
          <div class="header__menu__nav__list__item__content">
            <a href="/blog" class="header__menu__nav__list__item__content__text"
              >Blog</a
            >
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <!-- LOGO -->
  <img
    class="icon header__icon header__icon--logo"
    src="/assets/images/logo/logo-512px.png"
    alt="Logo image"
  />

  <!-- TITLE -->
  <h1 class="header__title">Ebisu</h1>

  <!-- UTILITY ICONS -->
  <div class="header__icon--utility__container">
    <img
      src="/assets/images/icons/search.svg"
      alt="Search icon"
      class="icon header__icon header__icon--utility header__btn--search"
    />
    <img
      src="/assets/images/icons/cart.svg"
      alt="Shopping Cart icon"
      class="icon header__icon header__icon--utility header__btn--cart"
    />
    <img
      src="/assets/images/icons/account.svg"
      alt="Account icon"
      class="icon header__icon header__icon--utility header__btn--account"
    />
  </div>
</div>
