// Colors
$clr-light-shades: #f0f0ec;
$clr-light-accent: #5ebb69;
$clr-primary: #67bd11;
$clr-dark-accent: #d9772f;
$clr-dark-shades: #1f2724;
$clr-grayed-text: #999999;
$clr-cards: #ffffff;

// Font weight
$fw-ligth: 300;
$fw-normal: 400;
$fw-light-bold: 600;
$fw-bold: 700;
$fw-black: 800;

// Arhitecture Variables
$menu-opacity: 0.97;

/* --- Breakpoints ---
 * Small devices (portrait tablets and large phones, 600px and up) 
 * Medium devices (landscape tablets, 768px and up) 
 * Large devices (laptops/desktops, 992px and up) 
 * Extra large devices (large laptops and desktops, 1200px and up) 
 */
$breakpoints: (
  'small': 600px,
  'medium': 768px,
  'large': 992px,
  'x-large': 1200px
);
