/*
 *  Color Variables  
 */
// $light-shades-color: #f1f1ea;
$light-shades-color: #f0f0ec;
$light-accent-color: #5ebb69;
$primary-color: #67bd11;
$dark-accent-color: #d9772f;
$dark-shades-color: #1f2724;
$grayed-text-color: #999999;

/*
 *  Arhitecture Variables  
 */
$menu-opacity: 0.97;

/*
 *  Mixins
 */
@mixin absolute_centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// CSS Resets
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;

  font-family: 'Poppins', sans-serif;
  color: $dark-shades-color;
}

body {
  background: $light-shades-color;
}

.btn {
  cursor: pointer;
}

// Useful global variables - TODO (might need to change this later)
$hearder-padding-top: 15px;
$hearder-padding-bottom: 12px;
$logo-icon-width: 50px;

/*
 *  Menu  
 */
.header__menu {
  // Menu button (hamburger)
  &__btn {
    position: relative;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 12px;
    margin-left: 12px;

    &__icon {
      position: absolute;
      z-index: 100;
      left: 0.5rem;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: $dark-shades-color;
      transition: all 0.5s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $dark-shades-color;
        transition: all 0.5s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 24px;
        height: 3px;
        background: $dark-shades-color;
        transition: all 0.5s ease-in-out;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  // Menu nav, lists, sublists
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: $menu-opacity;

    visibility: hidden;
    transition: all 0.5s ease-in-out;

    .list {
      display: flex;
      flex-flow: column wrap;
      list-style-type: none;
      cursor: pointer;
    }

    &.open {
      visibility: visible;
    }

    &__list {
      height: 100vh;
      padding-top: 90px;
      padding-left: 5vh;
      background: $light-shades-color;
      opacity: $menu-opacity;
      overflow: hidden;

      transform: translateY(-100%);
      transition: all 0.5s ease-in-out;

      &.open {
        transform: translateY(0);
      }
    }

    &__sublist {
      display: none;
      animation: hideSubmenu 500ms ease both;

      &.open {
        animation: showSubmenu 500ms ease both;
      }
    }

    @keyframes showSubmenu {
      from {
        transform: translateX(-100%);
        opacity: 0;
        height: 0;
        // visibility: hidden;
      }

      to {
        opacity: 100%;
        transform: translateX(0);
        height: 100%;
        // visibility: visible;
      }
    }
    @keyframes hideSubmenu {
      from {
        opacity: 100%;
        transform: translateX(0);
        height: 100%;
        // visibility: visible;
      }
      to {
        transform: translateX(-100%);
        opacity: 0;
        height: 0;
        // visibility: hidden;
      }
    }
  }

  // Lists items
  &__nav__list__item {
    transform: translateY(-100vh);
    transition: all 500ms ease-in-out;

    padding-bottom: 0.75em;

    &.open {
      transform: translateY(0);
    }

    &.expand {
      .header__menu__nav__list__item__content {
        &__text {
          color: $light-accent-color;
        }
        &__icon {
          transform: rotate(90deg);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: row;

      align-items: center;

      &__text {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:hover {
          color: $light-accent-color;
        }
      }

      &__icon {
        transition: transform 200ms linear;
        height: 1.5em;
      }
    }
  }

  // Sublists items
  &__nav__sublist__item {
    &__content {
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      padding-top: 0.2em;
      padding-bottom: 0.2em;

      &:hover {
        color: $dark-accent-color;
      }
    }
  }
}

/*
 *  Header  
 */
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;

  background-color: $light-shades-color;
  z-index: 1000;

  padding-top: $hearder-padding-top;
  padding-bottom: $hearder-padding-bottom;

  height: $hearder-padding-top + $hearder-padding-bottom + $logo-icon-width;

  border-bottom: 1px solid $dark-shades-color;

  &__container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px;
  }

  &__menu {
    &__icon--mobile {
      width: 34px;
    }
  }

  &__icon--logo {
    width: $logo-icon-width;
    margin-left: 9px;
    margin-right: 5px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.1em;
  }

  &__icon--utility {
    width: 27px;
    margin-left: 14px;
  }
}

/*
 *  Main  
 */
.main__container {
  margin-top: $hearder-padding-top + $hearder-padding-bottom + $logo-icon-width;

  // Components
  .btn {
    text-transform: capitalize;
  }
  .btn--full {
    height: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: linear-gradient(275.76deg, #67bd11 44.33%, #5ebb69 98.56%);
    border-radius: 10px;
    border: none;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));

    font-weight: 400;
    font-size: 18;
    text-align: center;
    color: $light-shades-color;
  }

  .section__title {
    text-align: center;
    text-transform: uppercase;
  }

  .section__title--color {
    @extend .section__title;
    padding-top: 2rem;
    color: $light-accent-color;
  }

  .cover {
    display: block;
    position: relative;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark-shades-color;
      opacity: 0.6;
      z-index: 1;
    }

    &__img {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    &__title {
      display: none;
      z-index: 10;
    }
    &__subtitle-wrapper {
      z-index: 10;
      position: absolute;
      width: 100%;
      top: 40%;
    }
    &__subtitle {
      z-index: 10;
      position: relative;

      text-align: center;

      text-transform: capitalize;
      font-size: 16px;

      color: $light-shades-color;
    }
  }

  .popular-products {
    text-align: center;

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      justify-items: center;

      padding: 1rem;
      gap: 1rem;
    }

    &__card {
      display: flex;
      flex-direction: column;
      text-align: center;

      width: 100%;
      height: 40vw;

      background-color: white;

      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
      transition: all 300ms ease-out;

      &:hover {
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
        .popular-products__card__title {
          left: 5%;
          width: 90%;
        }
      }

      > * {
        text-align: center;
        font-size: 14px;
      }

      &__link {
        width: 100%;
      }

      &__img {
        display: block;
        object-fit: cover;
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      &__title {
        position: absolute;
        bottom: 0;
        left: 15%;

        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: $light-shades-color;
        background-color: $dark-shades-color;

        width: 70%;
        margin-bottom: 0.5em;

        transition: all 300ms ease-out;

        overflow: hidden;
      }
    }

    &__btn {
      margin-top: 1rem;
    }
  }

  .promotions {
    position: relative;
    text-align: center;

    margin-top: 2rem;

    &__cards-container-wrapper {
      position: relative;

      overflow-x: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &__btn {
        width: 50px;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        z-index: 10;

        img {
          width: 100%;
        }
      }

      &__btn--prev {
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(255, 255, 255, 0) 0%,
          $light-shades-color 100%
        );

        img {
          transform: rotate(180deg);
        }
      }
      &__btn--next {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          $light-shades-color 100%
        );
      }
    }

    &__cards-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      height: 350px;

      /*
       *  responsive width - TODO 
      */
      width: 8 * 220px;
      margin-left: 50px;
      margin-right: 50px;

      align-items: center;
    }

    &__card {
      display: flex;
      flex-direction: column;
      text-align: center;

      width: 200px;

      background-color: white;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));

      > * {
        text-align: center;
        font-size: 14px;
      }

      &__img {
        display: block;
        object-fit: cover;
        width: 95%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      &__subtitle {
        font-style: italic;
      }

      &__title {
        font-weight: bold;
      }

      &__price-tag {
        font-weight: bold;
        color: $primary-color;
      }

      &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: 2px solid $primary-color;
        background-color: white;
        box-sizing: border-box;
        border-radius: 10px;
        width: 79%;
        min-height: 35px;
        max-height: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;

        &__img {
          padding-right: 0.5em;
          height: 70%;
        }
        &__text {
          color: $primary-color;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }

    &__btn {
      margin-top: 1rem;
    }
  }

  .categories {
    margin-top: 2rem;

    &__cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card {
      position: relative;
      text-align: center;
      width: 90%;
      height: 120px;

      transition: all 400ms ease-in-out;

      &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-shades-color;
        opacity: 0.3;
        z-index: 1;
      }

      &__title {
        z-index: 10;

        color: $light-shades-color;
        font-weight: 600;
        font-size: 24px;
        text-transform: capitalize;
        letter-spacing: 0.2em;

        @include absolute_centering();
      }

      &__btn {
        z-index: 10;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        cursor: pointer;
      }

      &:hover {
        width: 95%;
        height: 145px;
      }
    }
  }

  .books-showcase {
    position: relative;
    text-align: center;

    margin-top: 2rem;

    &__cards-container-wrapper {
      position: relative;

      overflow-x: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &__btn {
        width: 50px;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        z-index: 10;

        img {
          width: 100%;
        }
      }

      &__btn--prev {
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(255, 255, 255, 0) 0%,
          $light-shades-color 100%
        );

        img {
          transform: rotate(180deg);
        }
      }
      &__btn--next {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          $light-shades-color 100%
        );
      }
    }

    &__cards-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      height: 350px;

      /*
       *  responsive width - TODO 
      */
      width: 8 * 220px;
      margin-left: 50px;
      margin-right: 50px;

      align-items: center;
    }

    &__card {
      display: flex;
      flex-direction: column;
      text-align: center;

      padding-top: 10px;
      padding-bottom: 10px;

      width: 200px;

      background-color: white;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));

      > * {
        text-align: center;
        font-size: 14px;
      }

      &__img {
        display: block;
        object-fit: cover;
        width: 70%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      &__author {
        font-style: italic;
      }

      &__title {
        font-weight: bold;
      }

      &__price-tag {
        font-weight: 600;
        font-size: 16px;
        color: $primary-color;
      }

      &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: 2px solid $primary-color;
        background-color: white;
        box-sizing: border-box;
        border-radius: 10px;
        width: 79%;
        min-height: 35px;
        max-height: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;

        &__img {
          padding-right: 0.5em;
          height: 70%;
        }
        &__text {
          color: $primary-color;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .articles {
    text-align: center;
    &__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      margin-left: 25px;
      margin-right: 25px;
      gap: 30px 20px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      overflow: hidden;

      max-height: 600px;

      &__img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 0px 0px 20px 20px;
      }

      &__title {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: $primary-color;

        text-align: start;

        margin: 10px 20px 0px 20px;

        word-wrap: break-word;
        hyphens: auto;
      }

      &__published-date {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: $grayed-text-color;

        text-align: start;

        margin-left: 20px;
      }

      &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        color: $dark-shades-color;

        text-align: start;

        margin: 10px 20px 0px 20px;

        word-wrap: break-word;
        hyphens: auto;
        overflow: hidden;
      }

      &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: auto;
        margin-right: auto;

        margin-top: auto;

        border: none;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: $primary-color;

        opacity: 0.5;
        transition: all 200ms ease-in-out;

        cursor: pointer;

        &__img {
          margin-left: 0.5em;
          height: 15px;
          opacity: 0.5;
        }

        &:hover {
          opacity: 1;

          &__img {
            opacity: 0.75;
          }
        }
      }
    }

    &__btn {
      margin-top: 2.5rem;
    }
  }
}

/*
 *  Footer  
 */
footer {
  height: 500px;
  background-color: #5ebb69;
  margin-top: 250px;
}
