@use '../abstracts' as *;

/*
 * Homepage - Grid
 */
.main__container {
  @include mq(large) {
    // GRID TEMPLATING
    display: grid;

    grid-template-columns: repeat(2, 34%) repeat(2, auto);
    grid-template-areas:
      'cover-section cover-section cover-section cover-section'
      'popular-products popular-products categories categories'
      'promotions promotions categories categories'
      'books-showcase books-showcase books-showcase books-showcase'
      'articles articles articles articles'
      'website-services website-services website-services website-services'
      'tasks tasks tasks tasks';

    // GRID ELEMENTS
    .cover {
      grid-area: cover-section;
    }
    .popular-products {
      grid-area: popular-products;
    }
    .promotions {
      grid-area: promotions;
    }
    .categories {
      grid-area: categories;
    }
    .books-showcase {
      grid-area: books-showcase;
    }
    .articles {
      grid-area: articles;
    }
    .website-services {
      grid-area: website-services;
    }

    .tasks {
      grid-area: tasks;
    }
  }
}
