@use '../abstracts' as *;

.static-gallery {
  &__title {
    margin: 2rem 0;
  }

  &__container {
    margin: 1rem 2.5rem;

    counter-reset: fig-no;

    @include mq(medium) {
      margin: 1rem 3.5rem;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }

    @include mq(large) {
      margin: 1rem 5rem;

      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'figure-1 . figure-2'
        '. figure-3 .'
        'figure-4 . figure-5'
        '. figure-6 .'
        'figure-7 . figure-8'
        '. figure-9 .'
        'figure-10 . figure-11'
        '. figure-12 .';
    }
  }

  &__figure {
    margin-bottom: 3rem;
    &:hover {
      .static-gallery__img {
        filter: contrast(200%);
      }
      .static-gallery__caption {
        transform: scaleY(100%);
        &__title,
        &__description {
          font-size: 1.25em;
        }
      }
    }

    @include mq(large) {
      &--1 {
        grid-area: figure-1;
      }
      &--2 {
        grid-area: figure-2;
      }
      &--3 {
        grid-area: figure-3;
      }
      &--4 {
        grid-area: figure-4;
      }
      &--5 {
        grid-area: figure-5;
      }
      &--6 {
        grid-area: figure-6;
      }
      &--7 {
        grid-area: figure-7;
      }
      &--8 {
        grid-area: figure-8;
      }
      &--9 {
        grid-area: figure-9;
      }
      &--10 {
        grid-area: figure-10;
      }
      &--11 {
        grid-area: figure-11;
      }
      &--12 {
        grid-area: figure-12;
      }
    }
  }

  &__img {
    width: 100%;
    transition: all 1100ms ease-in-out;
  }

  &__caption {
    text-align: center;
    background-color: $clr-light-accent;
    width: 100%;

    transform: scaleY(0%);
    transition: all 1100ms ease-in-out;

    &__title,
    &__description {
      transition: all 1100ms ease-in-out;
      color: $clr-dark-shades;
    }

    &__title {
      font-weight: 600;
    }

    &__description {
      &::before {
        counter-increment: fig-no;
        content: counter(fig-no, lower-greek);
        font-weight: 500;
      }
    }
  }
}
