@use '../abstracts' as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $clr-light-accent;

  height: max(600px, 90vh);

  overflow: hidden;

  $footer-elements-margins: 5% 15% 5% 15%;

  * {
    font-size: 1rem;
    color: $clr-light-shades;
  }

  .contact {
    margin: $footer-elements-margins;

    &__title {
      text-align: center;
      font-weight: $fw-light-bold;
    }

    &__container {
      &__text {
        font-weight: $fw-normal;
        font-style: normal;

        opacity: 90%;
      }

      &__link {
        font-weight: $fw-ligth;
        font-style: italic;

        opacity: 70%;
      }

      &:hover {
        & > * {
          opacity: 100%;
        }
      }
    }
  }

  .copyright {
    margin: $footer-elements-margins;
  }

  @include mq(large) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-rule-width: 1fr;
    column-gap: 2rem;
    padding: 5%;

    .contact {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin: 0;
    }

    .copyright {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin: 0;
    }
  }

  @include mq(x-large) {
    padding: 5% 10%;
  }
}
