/*
 *  Color Variables  
 */
/*
 *  Arhitecture Variables  
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #1f2724;
}

body {
  background: #f0f0ec;
}

.btn {
  cursor: pointer;
}

/*
 *  Menu  
 */
.header__menu__btn {
  position: relative;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: 12px;
  margin-left: 12px;
}

.header__menu__btn__icon {
  position: absolute;
  z-index: 100;
  left: 0.5rem;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #1f2724;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__menu__btn__icon::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #1f2724;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__menu__btn__icon::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 24px;
  height: 3px;
  background: #1f2724;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__menu__btn__icon.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.header__menu__btn__icon.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.header__menu__btn__icon.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.header__menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.97;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__menu__nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  list-style-type: none;
  cursor: pointer;
}

.header__menu__nav.open {
  visibility: visible;
}

.header__menu__nav__list {
  height: 100vh;
  padding-top: 90px;
  padding-left: 5vh;
  background: #f0f0ec;
  opacity: 0.97;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__menu__nav__list.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__menu__nav__sublist {
  display: none;
  -webkit-animation: hideSubmenu 500ms ease both;
          animation: hideSubmenu 500ms ease both;
}

.header__menu__nav__sublist.open {
  -webkit-animation: showSubmenu 500ms ease both;
          animation: showSubmenu 500ms ease both;
}

@-webkit-keyframes showSubmenu {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
  }
}

@keyframes showSubmenu {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
  }
}

@-webkit-keyframes hideSubmenu {
  from {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    height: 0;
  }
}

@keyframes hideSubmenu {
  from {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    height: 0;
  }
}

.header__menu__nav__list__item {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  padding-bottom: 0.75em;
}

.header__menu__nav__list__item.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__menu__nav__list__item.expand .header__menu__nav__list__item__content__text {
  color: #5ebb69;
}

.header__menu__nav__list__item.expand .header__menu__nav__list__item__content__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__menu__nav__list__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__nav__list__item__content__text {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header__menu__nav__list__item__content__text:hover {
  color: #5ebb69;
}

.header__menu__nav__list__item__content__icon {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  height: 1.5em;
}

.header__menu__nav__sublist__item__content {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.header__menu__nav__sublist__item__content:hover {
  color: #d9772f;
}

/*
 *  Header  
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0ec;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 12px;
  height: 77px;
  border-bottom: 1px solid #1f2724;
}

.header__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.header__menu__icon--mobile {
  width: 34px;
}

.header__icon--logo {
  width: 50px;
  margin-left: 9px;
  margin-right: 5px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.1em;
}

.header__icon--utility {
  width: 27px;
  margin-left: 14px;
}

/*
 *  Main  
 */
.main__container {
  margin-top: 77px;
}

.main__container .btn--full {
  height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: linear-gradient(275.76deg, #67bd11 44.33%, #5ebb69 98.56%);
  border-radius: 10px;
  border: none;
  -webkit-filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  font-weight: 400;
  font-size: 18;
  text-align: center;
  color: #f0f0ec;
}

.main__container .cover {
  display: block;
  position: relative;
  height: 100%;
}

.main__container .cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f2724;
  opacity: 0.6;
  z-index: 1;
}

.main__container .cover__img {
  display: block;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container .cover__title {
  display: none;
  z-index: 10;
}

.main__container .cover__subtitle-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 40%;
}

.main__container .cover__subtitle {
  z-index: 10;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  color: #f0f0ec;
}

.main__container .popular-products {
  text-align: center;
}

.main__container .popular-products__title, .main__container .popular-products__title--color {
  text-align: center;
  text-transform: uppercase;
}

.main__container .popular-products__title--color {
  padding-top: 2rem;
  color: #5ebb69;
}

.main__container .popular-products__cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
}

.main__container .popular-products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 40vw;
  background-color: white;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.main__container .popular-products__card:hover {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

.main__container .popular-products__card:hover .popular-products__card__title {
  left: 5%;
  width: 90%;
}

.main__container .popular-products__card > * {
  text-align: center;
  font-size: 14px;
}

.main__container .popular-products__card__link {
  width: 100%;
}

.main__container .popular-products__card__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main__container .popular-products__card__title {
  position: absolute;
  bottom: 0;
  left: 15%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #f0f0ec;
  background-color: #1f2724;
  width: 70%;
  margin-bottom: 0.5em;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  overflow: hidden;
}

.main__container .popular-products__btn {
  margin-top: 1rem;
}

.main__container .promotions {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.main__container .promotions__title, .main__container .promotions__title--color {
  text-align: center;
  text-transform: uppercase;
}

.main__container .promotions__title--color {
  padding-top: 2rem;
  color: #5ebb69;
}

.main__container .promotions__cards-container-wrapper {
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.main__container .promotions__cards-container-wrapper::-webkit-scrollbar {
  display: none;
}

.main__container .promotions__cards-container-wrapper__btn {
  width: 50px;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.main__container .promotions__cards-container-wrapper__btn img {
  width: 100%;
}

.main__container .promotions__cards-container-wrapper__btn--prev {
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#f0f0ec));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #f0f0ec 100%);
}

.main__container .promotions__cards-container-wrapper__btn--prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__container .promotions__cards-container-wrapper__btn--next {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#f0f0ec));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f0f0ec 100%);
}

.main__container .promotions__cards-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  /*
       *  responsive width - TODO 
      */
  width: 1760px;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container .promotions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 200px;
  background-color: white;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

.main__container .promotions__card > * {
  text-align: center;
  font-size: 14px;
}

.main__container .promotions__card__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main__container .promotions__card__subtitle {
  font-style: italic;
}

.main__container .promotions__card__title {
  font-weight: bold;
}

.main__container .promotions__card__price-tag {
  font-weight: bold;
  color: #67bd11;
}

.main__container .promotions__card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #67bd11;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 79%;
  min-height: 35px;
  max-height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.main__container .promotions__card__btn__img {
  padding-right: 0.5em;
  height: 70%;
}

.main__container .promotions__card__btn__text {
  color: #67bd11;
  font-weight: 500;
  font-size: 14px;
}

.main__container .promotions__btn {
  margin-top: 1rem;
}

/*
 *  Footer  
 */
footer {
  height: 500px;
  background-color: #5ebb69;
  margin-top: 250px;
}
/*# sourceMappingURL=main.css.map */