@use '../abstracts' as *;

main {
  margin-top: 6rem;
  min-width: 300px;

  @include mq(medium) {
    margin-top: 5rem;
  }

  @include mq(large) {
    margin-top: 4rem;
  }

  @include mq(x-large) {
    margin-top: 4.5rem;
  }
}

.main__container {
  & > section {
    margin-top: 4rem;
  }

  .cover {
    position: relative;
    display: block;
    height: 100%;

    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $clr-dark-shades;
      opacity: 0.6;
      z-index: 1;
    }

    &__img {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    &__title {
      z-index: 10;
      display: none;
    }

    &__subtitle {
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 40%;

      text-align: center;

      font-size: 1.15rem;
      color: $clr-light-shades;
      text-transform: capitalize;
    }

    &__btn {
      z-index: 10;
      display: none;
    }

    @include mq(medium) {
      // height: clamp(500px, 100%, 90vh); * doesn't work on grid templating
      min-height: 600px;
      height: 100%;
      max-height: 91vh;

      &__img {
        min-height: 600px;
        height: 100%;
        max-height: 91vh;
      }

      &__title {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        text-align: center;

        width: 100%;
        top: 28%;

        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 0.1em;
        font-weight: $fw-light-bold;
        color: $clr-light-shades;
      }

      &__btn {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        top: 48%;
        left: 50%;
        transform: translateX(-50%);

        border-radius: 30px;
        box-shadow: 0px 10px 10px rgba(46, 213, 115, 0.15);
      }
    }

    @include mq(large) {
      margin: 0;

      &__subtitle {
        top: 42%;
      }

      &__btn {
        top: 50%;
      }
    }
  }

  .popular-products {
    margin-left: 2.5em;
    margin-right: 2.5em;

    text-align: center;

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      padding: 1rem;
      gap: 1rem;
    }

    &__btn {
      margin-top: 1rem;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include mq(medium) {
      margin-left: 1rem;
      margin-right: 1rem;

      &__cards-container {
        display: flex;
        flex-direction: row;
      }
    }

    @include mq(large) {
      margin-left: 3rem;
      margin-right: 1rem;

      &__btn {
        margin-top: 0.5rem;
      }
    }

    @include mq(x-large) {
      margin-left: 6rem;
      margin-right: 0rem;
    }
  }

  .promotions {
    position: relative;

    text-align: center;

    &__cards-container-wrapper {
      position: relative;

      overflow-x: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &__btn {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 100%;

        border: none;
        cursor: pointer;
        z-index: 10;

        img {
          width: 100%;
        }
      }

      &__btn--prev {
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(255, 255, 255, 0) 0%,
          $clr-light-shades 100%
        );

        img {
          transform: rotate(180deg);
        }
      }

      &__btn--next {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          $clr-light-shades 100%
        );
      }
    }

    &__cards-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      height: 350px;
      /*
         *  responsive width - TODO 
        */
      width: 8 * 220px;

      margin-left: 50px;
      margin-right: 50px;
    }

    &__btn {
      margin-top: 1rem;
    }

    @include mq(small) {
      margin-left: 5%;
      margin-right: 5%;
    }

    @include mq(medium) {
      margin-left: 7.5%;
      margin-right: 7.5%;

      &__cards-container {
        /*
       *  responsive width - TODO
      */
        width: 8 * 195px;
      }
    }

    @include mq(large) {
      width: 85%;

      margin: 0;
      margin-left: 4rem;
      margin-top: 2rem;

      &__cards-container-wrapper {
        &__btn--prev {
          left: -50px;
        }

        &__btn--next {
          right: -50px;
        }
      }

      &__cards-container {
        height: 100%;
        padding: 0.75rem;
        margin: 0;
      }

      &__btn {
        margin-top: 0.5rem;
      }
    }

    @include mq(x-large) {
      margin-left: 6.5rem;
    }
  }

  .categories {
    &__cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include mq(medium) {
      margin-left: 15%;
      margin-right: 15%;
    }

    @include mq(large) {
      margin-left: 1rem;
      margin-right: 1rem;

      &__cards-container {
        row-gap: 0.5rem;
      }
    }

    @include mq(x-large) {
      margin-left: 2rem;
      margin-right: 2rem;

      max-width: 30rem;

      &__cards-container {
        row-gap: 0.5rem;
      }
    }
  }

  .books-showcase {
    position: relative;
    text-align: center;

    &__cards-container-wrapper {
      position: relative;

      overflow-x: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &__btn {
        position: absolute;
        z-index: 10;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 100%;

        cursor: pointer;

        img {
          width: 100%;
        }
      }

      &__btn--prev {
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(255, 255, 255, 0) 0%,
          $clr-light-shades 100%
        );

        img {
          transform: rotate(180deg);
        }
      }
      &__btn--next {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          $clr-light-shades 100%
        );
      }
    }

    &__cards-container {
      position: relative;
      height: 100%;
      //  responsive width - TODO
      width: 8 * 220px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin: 0 2.5rem;
      padding: 1em 0;
    }

    @include mq(small) {
      margin-left: 5%;
      margin-right: 5%;
    }

    @include mq(medium) {
      margin-left: 7.5%;
      margin-right: 7.5%;
    }

    @include mq(large) {
      margin-left: 10%;
      margin-right: 10%;

      &__cards-container-wrapper {
        &__btn--prev {
          left: -50px;
        }

        &__btn--next {
          right: -50px;
        }
      }

      &__cards-container {
        //  responsive width - TODO
        width: 8 * 185px;

        padding: 0.75rem;
        margin: 0;
      }
    }

    @include mq(x-large) {
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  .articles {
    text-align: center;

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      margin: 0 1.5rem;
      gap: 2rem 1.5rem;
    }

    &__btn {
      margin-top: 2rem;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include mq(medium) {
      margin-left: 15%;
      margin-right: 15%;
    }

    @include mq(large) {
      margin-left: 3rem;
      margin-right: 3rem;

      &__cards-container {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @include mq(x-large) {
      margin-left: auto;
      margin-right: auto;

      max-width: 1250px;
    }
  }

  .website-services {
    &__cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;

      &__cards-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    @include mq(medium) {
      margin-left: 15%;
      margin-right: 15%;
    }

    @include mq(large) {
      margin-left: auto;
      margin-right: auto;

      &__cards-container {
        column-gap: 2rem;
        align-items: flex-start;
      }
    }
  }
}
