@use '../abstracts' as *;

main {
  margin-top: 6rem;
  min-width: 300px;

  @include mq(medium) {
    margin-top: 5rem;
  }

  @include mq(large) {
    margin-top: 4rem;
  }

  @include mq(x-large) {
    margin-top: 4.5rem;
  }
}

.main__container {
  & > section {
    margin-top: 4rem;
  }

  .cover {
    position: relative;
    display: block;
    height: 100%;

    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $clr-dark-shades;
      opacity: 0.6;
      z-index: 1;
    }

    &__img {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    &__container {
      position: absolute;
      z-index: 10;

      display: flex;
      flex-direction: column;
      align-items: center;

      top: 30%;
      left: 0;

      width: 100%;

      border: 1px solid red;
    }

    &__title {
      display: none;
    }

    &__subtitle {
      font-size: 1.15rem;
      color: $clr-light-shades;
      text-transform: capitalize;
    }

    &__btn {
      display: none;
    }

    @include mq(medium) {
      // height: clamp(500px, 100%, 90vh); * doesn't work on grid templating
      min-height: 600px;
      height: 100%;
      max-height: 91vh;

      &__img {
        min-height: 600px;
        height: 100%;
        max-height: 91vh;
      }

      &__title {
        display: block;

        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 0.1em;
        line-height: 4rem;
        font-weight: $fw-light-bold;
        color: $clr-light-shades;
      }

      &__btn {
        display: block;

        margin-top: 2rem;

        border-radius: 30px;
        box-shadow: 0px 10px 10px rgba(46, 213, 115, 0.15);
      }
    }

    @include mq(large) {
      margin: 0;
    }
  }

  .popular-products {
    margin-left: 2.5em;
    margin-right: 2.5em;

    text-align: center;

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      padding: 1rem;
      gap: 1rem;
    }

    &__btn {
      margin-top: 1rem;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include mq(medium) {
      margin-left: 1rem;
      margin-right: 1rem;

      &__cards-container {
        display: flex;
        flex-direction: row;
      }
    }

    @include mq(large) {
      margin-left: 3rem;
      margin-right: 1rem;

      &__btn {
        margin-top: 0.5rem;
      }
    }

    @include mq(x-large) {
      margin-left: 6rem;
      margin-right: 0rem;
    }
  }

  .promotions {
    position: relative;
    text-align: center;

    .cards-slider--promotions {
      height: 20rem;
      width: 70%;

      margin-left: auto;
      margin-right: auto;
    }

    &__btn {
      margin-top: 1rem;
    }

    @include mq(small) {
      .cards-slider--promotions {
        width: 80%;
      }
    }
  }

  .categories {
    &__cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include mq(medium) {
      margin-left: 15%;
      margin-right: 15%;
    }

    @include mq(large) {
      margin-left: 1rem;
      margin-right: 1rem;

      &__cards-container {
        row-gap: 0.5rem;
      }
    }

    @include mq(x-large) {
      margin-left: 2rem;
      margin-right: 2rem;

      max-width: 30rem;

      &__cards-container {
        row-gap: 0.5rem;
      }
    }
  }

  .books-showcase {
    position: relative;
    text-align: center;

    .cards-slider--books-showcase {
      height: 23rem;
      width: 70%;

      margin-left: auto;
      margin-right: auto;
    }

    @include mq(small) {
      .cards-slider--books-showcase {
        width: 80%;
      }
    }
  }

  .articles {
    text-align: center;

    &__cards-container {
      display: flex;
      flex-direction: column;

      row-gap: 2rem;

      width: 55%;
      margin-left: auto;
      margin-right: auto;
    }

    &__btn {
      margin-top: 2rem;
    }

    @include mq(small) {
      &__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 2rem 1.5rem;

        width: 80%;
        max-width: 540px;
      }
    }

    @include mq(large) {
      &__cards-container {
        grid-template-columns: repeat(4, 1fr);

        max-width: 1250px;
      }
    }
  }

  .website-services {
    &__cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mq(small) {
      margin-left: 10%;
      margin-right: 10%;

      &__cards-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    @include mq(medium) {
      margin-left: 15%;
      margin-right: 15%;
    }

    @include mq(large) {
      margin-left: auto;
      margin-right: auto;

      &__cards-container {
        column-gap: 2rem;
        align-items: flex-start;
      }
    }
  }
}
