<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Meta -->
    <meta
      name="description"
      content="Ebisu store offers you products from one of the most refined civilization - Japan"
    />
    <meta
      name="keywords"
      content="Ebisu, offer, promotion, Japan, Japanese culture, Japanese store"
    />

    <!-- Title -->
    <title>Blog - Ebisu</title>

    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <div class="main__container--blog">
        <section class="blog">
          <h2 class="section__title section__title--color">Articles</h2>
          <div class="blog__cards-container">
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/ebisu-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Ebisu the Japanese god of fishermen and luck
              </div>
              <div class="articles__card__published-date">
                Published on 23 Feb 2022
              </div>

              <div class="articles__card__description">
                <i lang="ja">Ebisu</i>(<i lang="ja">えびす</i>), also
                transliterated <i lang="ja">Webisu</i> or called
                <i lang="ja">Hiruko</i> or
                <i lang="ja">Kotoshiro-nushi-no-kami</i>, is the Japanese god of
                fishermen and luck. He is one of the Seven Gods of Fortune, and
                the only one of the seven to originate purely from Japan without
                any Buddhist or Taoist influence. In Japanese mythology, the
                Seven Lucky Gods or Seven Gods of Fortune (<i lang="ja"
                  >七福神 - Shichi Fukujin</i
                >) are believed to grant good luck and are often represented in
                <i lang="ja">netsuke</i> (a miniature sculpture) and in
                artworks.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/green-tea-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Green Tea - A Japanese Tradition
              </div>
              <div class="articles__card__published-date">
                Published on 12 Mar 2022
              </div>

              <div class="articles__card__description">
                Let's talk about tea. Tea is a common beverage for the
                Japanese—the Japanese loves a cup of hot tea to relax after a
                meal and often grabs one of many kinds of bottled tea at a
                convenience store or from a vending machine to keep hydrated
                throughout the day. For the Japanese, the quality of the hot tea
                served with the oshibori hot towel at a restaurant is indicative
                of the quality of the food to follow.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/manga-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                The Impact of Manga and Anime
              </div>
              <div class="articles__card__published-date">
                Published on 20 Mar 2022
              </div>

              <div class="articles__card__description">
                Of all the unique art forms Japan has given to global pop
                culture, perhaps the most instantly recognizable is manga, and
                its “moving image” counterpart, anime. Characters like Astro
                Boy, Speed Racer, and Sailor Moon have become as ubiquitous as
                Mickey Mouse, adorning backpacks, toys, and lunchboxes
                worldwide. The pioneering cyberpunk visions of “Akira” and
                “Ghost in the Shell” shaped global science fiction, and past
                Academy Awards for anime director Hayao Miyazaki show that
                “cartoons” can be embraced as “high art”. JAPAN HOUSE Los
                Angeles hosted "This is Manga", the first North American
                exhibition of the influential manga artist Naoki Urasawa, which
                drew wide audiences and fans from students to major Hollywood
                directors. So how did manga evolve into an international
                phenomenon?
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/samurai-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Samurai and "the way of the warrior"
              </div>
              <div class="articles__card__published-date">
                Published on 27 Mar 2022
              </div>

              <div class="articles__card__description">
                For those interested in Japanese history, samurai culture and
                the role this military class played in shaping Japan is a
                fascinating one. Although samurai no longer exist, the influence
                of these great warriors still manifests itself deeply in
                Japanese culture and samurai heritage can be seen all over Japan
                - be it a great castle, a carefully planned garden, or
                beautifully preserved samurai residences. It is also deeply
                ingrained in the psyche of the Japanese people.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
