<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ebisu store offers you products from one of the most refined civilization - Japan"
    />
    <meta
      name="keywords"
      content="Ebisu, offer, promotion, Japan, Japanese culture, Japanese store"
    />

    <title>Ebisu</title>
  </head>
  <body>
    <h1>Ebisu website</h1>
  </body>
</html>
