<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ebisu store offers you products from one of the most refined civilization - Japan"
    />
    <meta
      name="keywords"
      content="Ebisu, offer, promotion, Japan, Japanese culture, Japanese store"
    />

    <title>Ebisu</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="author" content="Alexandru Minculescu" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/logo/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/logo/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/logo/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/logo/favicon/site.webmanifest" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header">
        <!-- MENU -->
        <div class="header__menu">
          <div tabindex="0" class="header__menu__btn--hamburger">
            <span class="header__menu__btn--hamburger__icon"></span>
          </div>

          <!-- NAV BAR -->
          <nav class="header__menu__nav">
            <!-- NAV-LIST -->
            <ul class="header__menu__nav__list">
              <!-- NAV-LIST ITEM -->
              <li class="list header__menu__nav__list__item">
                <div class="header__menu__nav__list__item__content">
                  <span class="header__menu__nav__list__item__content__text"
                    >List Item</span
                  >
                  <img
                    class="header__menu__nav__list__item__content__icon"
                    src="/assets/images/icons/arrow-right.svg"
                    alt="Arrow icon"
                  />
                </div>

                <!-- SUBLIST OF NAV-LIST ITEM -->
                <ul class="header__menu__nav__sublist">
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                </ul>
              </li>

              <!-- NAV-LIST ITEM -->
              <li class="list header__menu__nav__list__item">
                <div class="header__menu__nav__list__item__content">
                  <span class="header__menu__nav__list__item__content__text"
                    >List Item</span
                  >
                  <img
                    class="header__menu__nav__list__item__content__icon"
                    src="/assets/images/icons/arrow-right.svg"
                    alt="Arrow icon"
                  />
                </div>

                <!-- SUBLIST OF NAV-LIST ITEM -->
                <ul class="header__menu__nav__sublist">
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                </ul>
              </li>

              <!-- NAV-LIST ITEM -->
              <li class="list header__menu__nav__list__item">
                <div class="header__menu__nav__list__item__content">
                  <span class="header__menu__nav__list__item__content__text"
                    >List Item</span
                  >
                  <img
                    class="header__menu__nav__list__item__content__icon"
                    src="/assets/images/icons/arrow-right.svg"
                    alt="Arrow icon"
                  />
                </div>

                <!-- SUBLIST OF NAV-LIST ITEM -->
                <ul class="header__menu__nav__sublist">
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                  <li class="list header__menu__nav__sublist__item">
                    <a
                      href="/"
                      class="header__menu__nav__sublist__item__content"
                    >
                      Sublist Item Content
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <!-- LOGO -->
        <img
          class="icon header__icon header__icon--logo"
          src="/assets/images/logo/logo-512px.png"
          alt="Logo image"
        />

        <!-- TITLE -->
        <h1 class="header__title">Ebisu</h1>

        <!-- UTILITY ICONS -->
        <div class="header__icon--utility__container">
          <img
            src="/assets/images/icons/search.svg"
            alt="Search icon"
            class="icon header__icon header__icon--utility"
          />
          <img
            src="/assets/images/icons/cart.svg"
            alt="Shopping Cart icon"
            class="icon header__icon header__icon--utility"
          />
          <img
            src="/assets/images/icons/account.svg"
            alt="Account icon"
            class="icon header__icon header__icon--utility"
          />
        </div>
      </div>
    </header>

    <main>
      <div class="main__container">
        <section class="cover">
          <img
            src="/assets/images/homepage/cover/compressed/cover-750.jpeg"
            srcset="
              /assets/images/homepage/cover/compressed/cover-750.jpeg   750w,
              /assets/images/homepage/cover/compressed/cover-1200.jpeg 1200w,
              /assets/images/homepage/cover/compressed/cover-1500.jpeg 1500w
            "
            alt="Image of a Japan Garden"
            class="img cover__img"
          />

          <h1 class="cover__title">Ebisu</h1>

          <!-- <div class="cover__subtitle-wrapper"> -->
          <div class="cover__subtitle">Your favorite japanese online store</div>
          <!-- </div> -->

          <button class="btn btn--full cover__btn">Start Shopping</button>
        </section>

        <section class="popular-products">
          <h2 class="section__title section__title--color">Popular</h2>
          <h2 class="section__title">Products</h2>
          <div class="popular-products__cards-container">
            <a class="popular-products__card__link" href="/">
              <div class="card popular-products__card">
                <img
                  src="/assets/images/products/compressed/garments-600.jpeg"
                  alt="TODO"
                  class="img popular-products__card__img"
                />
                <div class="popular-products__card__title">Garments</div>
              </div>
            </a>
            <a class="popular-products__card__link" href="/">
              <div class="card popular-products__card">
                <img
                  src="/assets/images/products/compressed/masks-600.jpeg"
                  alt="TODO"
                  class="img popular-products__card__img"
                />
                <div class="popular-products__card__title">Masks</div>
              </div>
            </a>
            <a class="popular-products__card__link" href="/">
              <div class="card popular-products__card">
                <img
                  src="/assets/images/products/compressed/sweets-600.jpeg"
                  alt="TODO"
                  class="img popular-products__card__img"
                />
                <div class="popular-products__card__title">Sweets</div>
              </div>
            </a>
            <a class="popular-products__card__link" href="/">
              <div class="card popular-products__card">
                <img
                  src="/assets/images/products/compressed/tapestries-600.jpeg"
                  alt="TODO"
                  class="img popular-products__card__img"
                />
                <div class="popular-products__card__title">Tapestries</div>
              </div>
            </a>
          </div>

          <button class="btn btn--full popular-products__btn">
            All Products
          </button>
        </section>

        <section class="promotions">
          <h2 class="section__title section__title--color">Promotions</h2>

          <div
            class="promotions__cards-container-wrapper__btn promotions__cards-container-wrapper__btn--prev"
          >
            <img
              src="/assets/images/icons/arrow-right.svg"
              alt="Previous button image"
            />
          </div>

          <div
            class="promotions__cards-container-wrapper__btn promotions__cards-container-wrapper__btn--next"
          >
            <img
              src="/assets/images/icons/arrow-right.svg"
              alt="Next button image"
            />
          </div>

          <div class="promotions__cards-container-wrapper">
            <div class="promotions__cards-container">
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
              <div class="card promotions__card">
                <img
                  src="/assets/images/promos/default.webp"
                  alt="TODO"
                  class="img promotions__card__img"
                />
                <div class="promotions__card__subtitle">Subtitle</div>
                <div class="promotions__card__title">Title</div>
                <div class="promotions__card__price-tag">Price</div>
                <button class="btn btn--transparent promotions__card__btn">
                  <img
                    class="promotions__card__btn__img"
                    src="/assets/images/icons/cart-color.svg"
                    alt="Cart icon"
                  />
                  <span class="promotions__card__btn__text">Add to cart</span>
                </button>
              </div>
            </div>
          </div>

          <button class="btn btn--full promotions__btn">
            Browse Promotions
          </button>
        </section>

        <section class="categories">
          <h2 class="section__title section__title--color">categories</h2>
          <div class="categories__cards-container">
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/garments-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Garments</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/footwear-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Traditional Footwear</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/masks-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Masks</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/sweets-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Sweets & Tea</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/books-manga-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Books & Manga</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/figures-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Figures</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
            <div class="categories__card">
              <img
                class="categories__card__bg"
                src="/assets/images/categories/compressed/tapestries-650.jpeg"
                alt="__category__ Representative Image"
              />
              <div class="categories__card__title">Tapestries</div>
              <div class="categories__card__btn">
                <img
                  src="/assets/images/icons/arrow-right-circle-white.svg"
                  alt="Arrow button image"
                  class="categories__card__btn__img"
                />
              </div>
            </div>
          </div>
        </section>

        <section class="books-showcase">
          <h2 class="section__title section__title--color">Books & Manga</h2>

          <div
            class="books-showcase__cards-container-wrapper__btn books-showcase__cards-container-wrapper__btn--prev"
          >
            <img
              src="/assets/images/icons/arrow-right.svg"
              alt="Previous button image"
            />
          </div>

          <div
            class="books-showcase__cards-container-wrapper__btn books-showcase__cards-container-wrapper__btn--next"
          >
            <img
              src="/assets/images/icons/arrow-right.svg"
              alt="Next button image"
            />
          </div>

          <div class="books-showcase__cards-container-wrapper">
            <div class="books-showcase__cards-container">
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_1-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_2-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_3-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_4-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_5-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_6-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_7-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/book_8-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/default-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/default-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/default-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
              <div class="card books-showcase__card">
                <img
                  src="/assets/images/books/compressed/default-200.jpeg"
                  alt="TODO"
                  class="img books-showcase__card__img"
                />
                <div class="books-showcase__card__author">Author</div>
                <div class="books-showcase__card__title">Title</div>
                <div class="books-showcase__card__price-tag">Price</div>
              </div>
            </div>
          </div>

          <button class="btn btn--full books-showcase__btn">
            Books Library
          </button>
        </section>

        <section class="articles">
          <h2 class="section__title section__title--color">Articles</h2>
          <div class="articles__cards-container">
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/default-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Ebisu Japanese God Article
              </div>
              <div class="articles__card__published-date">
                Publised on *DATE-TODO*
              </div>

              <!-- TODO - When getting the description text from DB, limit the text to X char and add '...'-->
              <div class="articles__card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati dicta soluta, rerum ut pariatur porro nihil? Minima
                suscipit sint error?
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/default-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="articles__card__published-date">
                Publised on *DATE-TODO*
              </div>

              <!-- TODO - When getting the description text from DB, limit the text to X char and add '...'-->
              <div class="articles__card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                sapiente vel eum assumenda ex ab ipsum eligendi officiis aliquid
                reprehenderit. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Deserunt, aliquam.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/default-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                This is an Article about the foundation of the website
              </div>
              <div class="articles__card__published-date">
                Publised on *DATE-TODO*
              </div>

              <!-- TODO - When getting the description text from DB, limit the text to X char and add '...'-->
              <div class="articles__card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati dicta soluta, rerum ut pariatur porro nihil? Minima
                suscipit sint error?
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
            <div class="articles__card">
              <img
                class="articles__card__img"
                src="/assets/images/articles/compressed/default-300.jpeg"
                alt="__Article-name__ Cover Image"
              />

              <div class="articles__card__title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
                quod consequatur? Beatae?
              </div>
              <div class="articles__card__published-date">
                Publised on *DATE-TODO*
              </div>

              <!-- TODO - When getting the description text from DB, limit the text to X char and add '...'-->
              <div class="articles__card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                sapiente vel eum assumenda ex ab ipsum eligendi officiis aliquid
                reprehenderit. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Deserunt, aliquam.
              </div>

              <button class="articles__card__btn">
                Continue reading
                <img
                  src="/assets/images/icons/arrow-right-green.svg"
                  alt="Arrow Icon"
                  class="articles__card__btn__img"
                />
              </button>
            </div>
          </div>

          <button class="btn btn--full articles__btn">All articles</button>
        </section>

        <section class="website-services">
          <div class="website-services__cards-container">
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/1.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Premium Quality Guaranteed
              </div>
            </div>
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/2.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Free delivery for orders over 150 RON
              </div>
            </div>
            <div class="website-services__card">
              <img
                src="/assets/images/homepage/3.png"
                alt="Service Image"
                class="website-services__card__img"
              />
              <div class="website-services__card__text">
                Delivery in 48 hours
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <section class="contact">
        <h2 class="contact__title">Contact</h2>
        <address class="contact__container contact__address-container">
          <span class="contact__container__text">Address: </span>
          <a
            href="https://www.google.ro/maps/search/Sakura+Street,+no.+23,+Bucharest,+sector+3,+Romania/@44.4181666,26.1606044,12z"
            class="contact__container__link"
            target="_blank"
            >Sakura Street, no. 23, Bucharest, sector 3, Romania
          </a>
        </address>
        <div class="contact__container contact__phone-container">
          <span class="contact__container__text">Phone no: </span>
          <a class="contact__container__link" href="tel:+4073555432"
            >+4073 555 432
          </a>
        </div>
        <div class="contact__container contact__email-container">
          <span class="contact__container-text">Email: </span>
          <a
            class="contact__container__link"
            href="mailto:ebisu_store@gmail.com"
            >ebisu_store@gmail.com
          </a>
        </div>
      </section>

      <section class="copyright">
        <small class="copyright__container">
          <span class="copyright__container__text">Copyright &copy; Ebisu</span>
          <time class="copyright__container__time" datetime="2021-10-19"
            >19 October 2021</time
          >
        </small>
      </section>
    </footer>
  </body>
</html>
